/*/////////////////////fonts/////////////////////////////////*/
@font-face {
  font-family: early;
  src: url(../fonts/Early_GameBoy.ttf);
}
@font-face {
  font-family: nintendo;
  src: url(../fonts/nintendo.ttf);
}

/*/////////////////////general/////////////////////////////////*/
html {
  width: 115%;
}

body {
  background-color: #b3b1b2;
  font-family: early;
  color: #0f380f;
}

.frame {
  background-color: #6e7884;
  width: 1000px;
  height: 800px;
  position: relative;
  margin: 5% 5% 0 5%;
  border-radius: 40px 40px 130px 40px;
}
.gameboy {
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: #CADC9F;
  margin: 5% 15%;
  padding: 0px;
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
}

.hidden-screen, .d-pad .icon-off:after {
  display: none;
}

/*/////////////////////gameboy/////////////////////////////////*/
.power-light {
  width: 20px;
  height: 20px;
  background-color: #3b272c;
  border: thin solid black;
  border-radius: 100%;
  float: left;
  margin: 300px 0 0 35px;
}

.powerOn {
  background-color: #fc0265;
  box-shadow: 0 0 10px 1px #fc0265;
  border: 2px solid grey;
}

#power-text {
  float: left;
  margin: 330px 0 0 -25px;
  color: #ddd;
  font-family: Gill Sans MT;
  letter-spacing: 2px;
  font-size: 18px;
}

#case {
  margin-left: 10%;
  font-family: nintendo;
  color: #142577;
}

#logo {
  font-family: Gill Sans MT;
  font-style: italic;
  font-weight: bolder;
  font-size: 80px;
  font-weight: bolder;
}

#tm {
  font-family: sans-serif;
  font-size: 30px;
}

#off-screen {
  background-color: #0f380f;
}

#nintendo-screen img {
  width: 90%;
  margin: 23% 0 0 5%;
}

/*buttons*/
.gameboy-button {
  width: 150px;
  height: 150px;
  position: relative;
}

label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b25244;
  background: linear-gradient(#f7f2f6, #b2ac9e);
  position: relative;
  color: #a5a39d;
  font-size: 70px;
  text-align: center;
  line-height: 150px;
  transition: all 0.3s ease-out;
  text-shadow: 0 2px 1px rgba(0,0,0,0.25);
  z-index: -1;
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 5px 8px rgba(0,0,0,0.3),
    0 10px 10px 4px rgba(0,0,0,0.3);
}

label:after {
   content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  z-index: -2;
  border-radius: inherit;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.3),
    0 0 10px rgba(0,0,0,0.15);

}

label:before {
   content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset 0 10px 10px rgba(0,0,0,0.13);
  -webkit-filter:blur(1px);
  filter: blur(1px);
}

input:checked ~ label {
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 5px 8px rgba(0,0,0,0.35),
    0 3px 10px 4px rgba(0,0,0,0.2);
  color: #9abb82;
}

.icon-off:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -35% 0 0 -35%;
  border-radius: 50%;
  background: linear-gradient(#cbc7bc, #d2cbc3);
  box-shadow:
    0 -2px 5px rgba(255,255,255,0.05),
    0 2px 5px rgba(255,255,255,0.1);
  -webkit-filter:blur(1px);
  filter: blur(1px);
}

input {
   display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  position: absolute;
  cursor: pointer;
}

#power-button {
  margin: -80px 0 0 900px;
}

#a-button, #b-button {
  width: 100px;
  height: 100px;
  margin: 50px 0 0 850px;
}

#a-button label, #b-button label  {
  background: radial-gradient(#7d0646,#4a0313);
}

#a-button .icon-off:after, #b-button .icon-off:after {
  background: radial-gradient(#8e1757, #7d0646);
}

#b-button {
  margin: 0px 0 0 700px;
}
 /*d-pad*/
 .d-pad {
   position: absolute;
 }

.d-pad label{
  border-radius: 0;
  width: 40%;
  height: 40%;
  float: left;
  background: #29292c;
}

#d-y {
  margin: 30px 0 0 200px;
}

#d-y label {
  height: 180px;
}

#d-x {
  margin: 90px 0 0 140px;
}

#d-x label {
  width: 180px;
}


@media ( max-height: 1050px ) {

  .frame {
    background-color: #6e7884;
    width: 700px;
    height: 560px;
    position: relative;
    margin: 2.5% 0 2.5% 2.5%;
    border-radius: 28px 28px 91px 28px;
    float: left;
  }
  .gameboy {
    position: absolute;
    width: 490px;
    height: 490px;
    background-color: #CADC9F;
    margin: 5% 15%;
    padding: 0px;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
    float: left;
  }

  /*/////////////////////gameboy/////////////////////////////////*/
  .power-light {
    width: 20px;
    height: 20px;
    background-color: #3b272c;
    border: thin solid black;
    border-radius: 100%;
    float: left;
    margin: 210px 0 0 35px;
  }

  .powerOn {
    background-color: #fc0265;
    box-shadow: 0 0 10px 1px #fc0265;
    border: 2px solid grey;
  }

  #power-text, #tm {
    display: none;
  }

  #case{
    float: left;
    margin: 2.5%;
    font-size: 25px;
  }

  #logo {
    float: right;
    margin: 0;
    font-size: 40px;
  }

  #power-button {
    float: left;
    margin: 0 10% 0 5%;
  }

  #a-button, #b-button {
    float: left;
    width: 100px;
    height: 100px;
    margin: 50px 0 0 250px;
  }

  #b-button {
    margin-top: 40px;
  }

  #d-y {
    margin: 330px 0 0 820px;
  }

  #d-y label {
    height: 180px;
  }

  #d-x {
    margin: 390px 0 0 760px;
  }

  #d-x label {
    width: 180px;
  }
}
