/*/////////////////////fonts/////////////////////////////////*/
@font-face {
  font-family: early;
  src: url(../fonts/Early_GameBoy.ttf);
}
@font-face {
  font-family: nintendo;
  src: url(../fonts/nintendo.ttf);
}

/*/////////////////////general/////////////////////////////////*/
.frame {
  background-color: #6e7884;
  width: 1000px;
  height: 800px;
  position: relative;
  margin: 60px 0 0 10%;
  border-radius: 40px 40px 130px 40px;
}
.container {
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: #CADC9F;
  margin: 50px 150px;
  padding: 0px;
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
}

body {
  background-color: #b3b1b2;
  font-family: early;
  color: #0f380f;
}

.row {
  margin: 0;
}

.initially-hidden {
  display: none;
}

.hidden-screen {
  display: none;
}

/*/////////////////////gameboy/////////////////////////////////*/
.power-light {
  width: 20px;
  height: 20px;
  background-color: #3b272c;
  border: thin solid black;
  border-radius: 100%;
  float: left;
  margin: 300px 0 0 35px;
}

.powerOn {
  background-color: #fc0265;
  box-shadow: 0 0 10px 1px #fc0265;
  border: 2px solid grey;
}

#power-text {
  float: left;
  margin: 330px 0 0 -25px;
  color: #ddd;
  font-family: Gill Sans MT;
  letter-spacing: 2px;
  font-size: 18px;
}


/*/////////////////////game area/////////////////////////////////*/

/*/////////////////////battlefield/////////////////////////////////*/
#battlefield {
  background-image: url(../img/battlefield.jpg);
  background-position: top;
  opacity: .7;
  box-shadow: inset 12px 0 15px -4px rgba(0, 0, 0, 0.6), inset  -12px 0 8px -4px rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-color: #afc45f;
  background-size: cover;
}

.pic-screen {
  height: 330px;
  width: 330px;
  margin: 50px 10px;
}

#battlefield img {
  height: 240px;
  width: 240px;
  margin-top: 120px;
  margin-left: 30px;
}

/*/////////////////////interface/////////////////////////////////*/
#interface {
  border-top: thick solid #306230;
  height: 270px;
  width: 700px;
  opacity: .7;
}

.player-col {
  text-align: center;
}

#interface h2 {
  margin-top: 42px;
}
#log {
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
}

#log img {
  float: right;
  width: 50px;
}
/*/////////////////////progress bar/////////////////////////////////*/
progress[value] {
  -webkit-appearance: none;
   appearance: none;
  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #9bbc0f;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #0f380f;
}
/*/////////////////////buttons/////////////////////////////////*/
.btn-default {
  background-color: #306230;
  color: #CADC9F;
  text-align: center;
}

.btn-default:hover {
  background-color: #9bbc0f;
}

.btn-default:focus {
  background-color: #306230;
  color: #CADC9F;
  text-align: center;
  outline-color: inherit;
}

.btn-default:disabled, .btn-default:disabled:hover {
  background-color: #eaefdd;
  color: #0f380f;
}

.potion-button {
  margin: 5px 0 0 4px;
}

/*//////////////////////gameboy///////////////////////////////////*/
#header {
  margin-left: 10%;
  font-family: nintendo;
  color: #142577;
}

#logo {
  font-family: Gill Sans MT;
  font-style: italic;
  font-weight: bolder;
  font-size: 80px;
  font-weight: bolder;
}

#tm {
  font-family: sans-serif;
  font-size: 30px;
}

.wrapper {
  margin: 0 0 0 850px;
}
/*///////////////////////////hidden-screens////////////////////////*/
#off-screen {
  background-color: #0f380f;
}

#nintendo-screen img {
  width: 500px;
  margin: 200px 0 0 100px;
}
/*game screen*/
#game-logo {
 text-align: center;
 margin-top: 270px;
}

#game-logo h1 {
  margin-top: -20px;
  font-size: 7em;
}

#game-logo h3 {
  font-size: 2.4em;
}

/*win screen*/
#win-screen {
  text-align: center;
  overflow: hidden;
}

#credits{
  animation: 60s credits linear infinite;
  position: relative;
  padding: 10px;
}

#win-screen h1 {
  margin-top: 260px;
}

#win-screen h2 {
  font-size: 4em;
}

#win-screen h3 {
  margin-bottom: 290px;
}

#win-screen h4 {
  margin-top: 370px;
}
