/*/////////////////////fonts/////////////////////////////////*/
@font-face {
  font-family: early;
  src: url(../fonts/Early_GameBoy.ttf);
}
@font-face {
  font-family: nintendo;
  src: url(../fonts/nintendo.ttf);
}

/*/////////////////////general/////////////////////////////////*/
.frame {
  background-color: #6e7884;
  width: 1000px;
  height: 800px;
  position: relative;
  margin-left: 10%;
  margin-top: 120px;
  border-radius: 40px 40px 130px 40px;
}
.container {
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: #CADC9F;
  margin: 50px 150px;
  padding: 0px;
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
}

.row {
  margin: 0;
}

body {
  background-color: #b3b1b2;
  font-family: early;
  color: #0f380f;
}
/*/////////////////////game area/////////////////////////////////*/

/*/////////////////////battlefield/////////////////////////////////*/
#battlefield {
  background-image: url(../img/battlefield.jpg);
  background-position: top;
  opacity: .7;
  box-shadow: inset 12px 0 15px -4px rgba(0, 0, 0, 0.6), inset  -12px 0 8px -4px rgba(0, 0, 0, 0.6);
}

.pic-screen {
  height: 330px;
  width: 330px;
  margin: 50px 10px;
}

#battlefield img {
  height: 280px;
  width: 280px;
  margin-left: 20px;
}

/*/////////////////////interface/////////////////////////////////*/
#interface {
  border-top: thick solid #306230;
  height: 270px;
  width: 700px;
  opacity: .7;
}

.player-col {
  text-align: center;
}

#log {
  text-align: center;
}
/*/////////////////////progress bar/////////////////////////////////*/
progress[value] {
  -webkit-appearance: none;
   appearance: none;
  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #9bbc0f;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #0f380f;
}
/*/////////////////////button/////////////////////////////////*/
.btn-default {
  background-color: #306230;
  color: #CADC9F;
  text-align: center;
}

.btn-default:hover {
  background-color: #9bbc0f;
}

.btn-default:focus {
  background-color: #306230;
  color: #CADC9F;
  text-align: center;
  outline-color: inherit;
}

/*//////////////////////header///////////////////////////////////*/
#header {
  margin-left: 10%;
  font-family: nintendo;
  color: #142577;
}

#logo {
  font-family: Gill Sans MT;
  font-style: italic;
  font-weight: bolder;
  font-size: 80px;
  font-weight: bolder;
}

#tm {
  font-family: sans-serif;
  font-size: 30px;
}
